<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
<!-- linking to partials/head. relative path -->
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
    <!-- linking to partials/header. relative path -->
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
        </div>
    </main>

    <h2>Echoing a simple variable</h2>
    <h4 class="tagline"><%= tagline %></h4>
    <h4><%= exclamation %></h4>

    <h2>Looping through array of objects supplied from server</h2>
    <ul><% drinks.forEach(function(drink) { %>
        <li><h4><%= drink.name %> -> <%= drink.drunkness %></h4></li>
    <% }); %></ul>

    <footer>
    <!-- linking to partials/footer. relative path -->
        <% include ../partials/footer %>
    </footer>

</body>
</html>