<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
<!-- linking to partials/head. relative path -->
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
    <!-- linking to partials/header. relative path -->
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
        </div>
    </main>

    <footer>
    <!-- linking to partials/footer. relative path -->
        <% include ../partials/footer %>
    </footer>

</body>
</html>